# Chap 13 - Ex4: apply Apriori for Adult_transaction.csv

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn

np.set_printoptions(suppress = True)
pd.set_option('display.width', 1000)

In [11]:
adult_trans = pd.read_csv('Data/Adult_transactions.csv', index_col=0)
adult_trans

       age=Young  age=Middle-aged  age=Senior  age=Old  workclass=Federal-gov  workclass=Local-gov  workclass=Never-worked  workclass=Private  workclass=Self-emp-inc  workclass=Self-emp-not-inc  ...  native-country=Scotland  native-country=South  native-country=Taiwan  native-country=Thailand  native-country=Trinadad&Tobago  native-country=United-States  native-country=Vietnam  native-country=Yugoslavia  income=small  income=large
1          False             True       False    False                  False                False                   False              False                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False          True         False
2          False            False        True    False                  False                False                   False              False                   False                        True  ...                    False                 False                  False                    False                           False                          True                   False                      False          True         False
3          False             True       False    False                  False                False                   False               True                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False          True         False
4          False            False        True    False                  False                False                   False               True                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False          True         False
5          False             True       False    False                  False                False                   False               True                   False                       False  ...                    False                 False                  False                    False                           False                         False                   False                      False          True         False
...          ...              ...         ...      ...                    ...                  ...                     ...                ...                     ...                         ...  ...                      ...                   ...                    ...                      ...                             ...                           ...                     ...                        ...           ...           ...
48838      False             True       False    False                  False                False                   False               True                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False         False         False
48839      False            False        True    False                  False                False                   False              False                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False         False         False
48840      False             True       False    False                  False                False                   False               True                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False         False         False
48841      False             True       False    False                  False                False                   False               True                   False                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False         False         False
48842      False             True       False    False                  False                False                   False              False                    True                       False  ...                    False                 False                  False                    False                           False                          True                   False                      False         False         False

[48842 rows x 115 columns]

## <span style = 'color : yellow'> Apply apriori and association_rules

In [16]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_items = apriori(adult_trans, min_support=0.3, use_colnames=True)
frequent_items

      support                                           itemsets
0    0.505119                                  (age=Middle-aged)
1    0.694198                                (workclass=Private)
2    0.323164                                (education=HS-grad)
3    0.458192                (marital-status=Married-civ-spouse)
4    0.329982                     (marital-status=Never-married)
..        ...                                                ...
241  0.457926  (native-country=United-States, capital-gain=No...
242  0.386512  (native-country=United-States, hours-per-week=...
243  0.358155  (income=small, native-country=United-States, c...
244  0.312108  (native-country=United-States, capital-gain=No...
245  0.315937  (native-country=United-States, relationship=Hu...

[246 rows x 2 columns]

In [19]:
asc_rules = association_rules(frequent_items, metric='lift', min_threshold=1.1, 
                              return_metrics=['support', 'confidence', 'lift', 'leverage', 'conviction'])
asc_rules

                                       antecedents                                        consequents   support  confidence      lift  leverage   conviction
0                           (relationship=Husband)                (marital-status=Married-civ-spouse)  0.403423    0.999391  2.181164  0.218466   890.191004
1              (marital-status=Married-civ-spouse)                             (relationship=Husband)  0.403423    0.880468  2.181164  0.218466     4.988894
2              (marital-status=Married-civ-spouse)                                         (sex=Male)  0.407416    0.889182  1.330151  0.101123     2.991549
3                                       (sex=Male)                (marital-status=Married-civ-spouse)  0.407416    0.609464  1.330151  0.101123     1.387345
4                           (relationship=Husband)                                         (sex=Male)  0.403648    0.999949  1.495851  0.133803  6536.208018
..                                             ...                                                ...       ...         ...       ...       ...          ...
503  (marital-status=Married-civ-spouse, sex=Male)  (race=White, native-country=United-States, rel...  0.315937    0.775466  2.452747  0.187128     3.045588
504                         (sex=Male, race=White)  (native-country=United-States, relationship=Hu...  0.315937    0.537011  1.582424  0.116283     1.426902
505                         (relationship=Husband)  (native-country=United-States, capital-loss=No...  0.315937    0.782664  2.459427  0.187477     3.136937
506            (marital-status=Married-civ-spouse)  (native-country=United-States, relationship=Hu...  0.315937    0.689530  2.181079  0.171084     2.202657
507                                     (sex=Male)  (native-country=United-States, relationship=Hu...  0.315937    0.472619  1.495830  0.104725     1.297055

[508 rows x 7 columns]